				<% @students.each do |student| %>
				<tbody>
					<tr>
						<td><%= student.name %></td>
						<td><%= student.course %></td>
						<td><%= student.research %></td>
					</tr>
				</tbody>
				<% end %>