<h5 class="title center-align">Bolsistas</h5>
<div class="row">
	<div class="container">
		<div class ="row">
		  <div class="square">
			<table>
				<thead>
					<tr>
						<th>Nome</th>
						<th>Modalidade</th>
						<th>Pesquisa</th>
					</tr>
				</thead>
				<%= render 'tstudent' %>
			</table>
		  </div>
		</div>		
	</div>
</div>