<h5 class="title center-align">Contato</h5>
<div class="row">
	<div class="container">
		<div class="card">
			<div class="card-content">
				<span class="card-title">Informações sobre o Curso Ciência da Computação</span>
				<p>
					<b>Endereço</b><br>
					<p>
						Universidade Estadual do Norte Fluminense Darcy Ribeiro<br>
						Curso Ciência da Computação<br>
						Av. Alberto Lamego, 2000 - Parque Califórnia<br>
						Edifício P5, Sala 119<br>
						Campos dos Goytacazes - RJ<br>
						CEP: 28013-602</p>

						<b>Secretária</b><br>
						<p>Vânia<br>
						Telefone: (22) 2739-78??
					</p> 
				</p>
			</div>
			<div class="card-action">
				<%= link_to "Coordenação", coordinator_path, method: :get, :class => "blue-text" %>
			</div>
		</div>
	</div>
</div>