
	<footer class="page-footer blue lighten-2">
    
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
           <h5 class="white-text">Mais informações</h5>
           <p class="grey-text text-lighten-4">
           Av. Alberto Lamego, 2000 - Parque Califórnia<br>
           Prédio P5, Sala 119<br>
           Campos dos Goytacazes - RJ<br>
           CEP: 28013-602 </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><%= link_to "Coordenação", coordinator_path, method: :get, :class => "grey-text text-lighten-3" %></li>
            <li><a class="grey-text text-lighten-3" href="http://www.uenf.br">UENF</a></li>
            <li><a class="grey-text text-lighten-3" href="http://lcmat.uenf.br">LCMAT</a></li>
          </ul>
        </div>
      </div>
    </div>        
    <div class="footer-copyright">
      <div class="container">
        <div class="left">© 2016 UENF, Todos os direitos reservados</div>
        <div class="right">Created by Ciência da Computação</div>
      </div>

    </div>
  </footer>